
body
{
  background-image: url("space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#canvas
{
  border:1px solid #000000;
  background:#ffffff;
}
.center
{
  text-align: center;
}
.button
{
    background-size: cover;
    width:50px;
    height:50px;
}
#EraserButton
{
  background-image: url("eraser.png");
}
#BrushButton
{
  background-image: url("brush.jpg");
}
#ClearButton
{
  background-image: url("clear.png");
}
#TextButton
{
  background-image: url("text.png");
}
#TriangleButton
{
  background-image: url("triangle.png");
}
#CircleButton
{
  background-image: url("circle.png");
}
#RectButton
{
  background-image: url("rect.png");
}
#Undo
{
  background-image: url("undo.png");
}
#Redo
{
  background-image: url("redo.png");
}
h1
{
  text-align: center;
  font-family: fantasy;
  color: rgb(145, 145, 71);
  font-size: 61px;
  text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
}
#Spaced
{
  text-align: center;
}
  input[type=range] {
  -webkit-appearance: none;
  width: 8%;
  margin: 9.95px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16.1px;
    cursor: pointer;
    box-shadow: 1.6px 1.6px 15px #000000, 0px 0px 1.6px #0d0d0d;
    background: #f6d26e;
    border-radius: 0px;
    border: 0.6px solid #000001;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 4.5px rgba(47, 161, 255, 0.82), 0px 0px 3px rgba(73, 173, 255, 0.82);
    border: 0px solid #dfe71d;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: rgba(164, 251, 233, 0.85);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.55px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f7d986;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16.1px;
    cursor: pointer;
    box-shadow: 1.6px 1.6px 15px #000000, 0px 0px 1.6px #0d0d0d;
    background: #f6d26e;
    border-radius: 0px;
    border: 0.6px solid #000001;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 4.5px rgba(47, 161, 255, 0.82), 0px 0px 3px rgba(73, 173, 255, 0.82);
    border: 0px solid #dfe71d;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: rgba(164, 251, 233, 0.85);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16.1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #f5cb56;
    border: 0.6px solid #000001;
    border-radius: 0px;
    box-shadow: 1.6px 1.6px 15px #000000, 0px 0px 1.6px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #f6d26e;
    border: 0.6px solid #000001;
    border-radius: 0px;
    box-shadow: 1.6px 1.6px 15px #000000, 0px 0px 1.6px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 3px 3px 4.5px rgba(47, 161, 255, 0.82), 0px 0px 3px rgba(73, 173, 255, 0.82);
    border: 0px solid #dfe71d;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: rgba(164, 251, 233, 0.85);
    cursor: pointer;
    height: 16.1px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #f6d26e;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #f7d986;
  }

  input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
  }
  input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
  }
  input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    border-radius    : 0.25em;
    background       : rgb(224,224,224);
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
  }
  input[type=radio   ]:not(old):checked + label > span{
    background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
    background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
  }
  input[type=radio]:not(old):checked +  label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.0625em solid rgb(115,153,77);
    border-radius    : 0.125em;
    background       : rgb(153,204,102);
    background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
    background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
  }


label
{
  color:white;
}
.shiftright
{
  text-align:center;
}
.shiftright1
{
  text-align:center;
  margin-left:100px;
}
#upload
{
  color:white;
}
.bor
{
  background-color:rgba(128,128,128,0.4);
}
